<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript"src="/eunsu/resources/js/jquery-3.4.1.min.js"></script>
<style type="text/css">
.scale {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  text-align: center;
}
.scale:hover {
  transform: scale(2);
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
}
</style>
</head>
<body>
<p class="scale">제목</p>
</body>​
​

</html>